body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
  transition: 1s ease-in;
}
 
:root {
  --bg-color: rgb(0, 0, 0);
  --nav-bg-color: rgb(59, 55, 57);
  --text-color:rgb(255, 255, 255);
  --link-color: blue;
  --link-hover-color: orange;
  --button-color: rgb(255, 22, 111);
  --button-hover-color: orange;
  --button-text-color:  rgb(255, 22, 111);
  --button-text-hover-color: orange;
  --border-color: rgb(255, 22, 111);
  --border-hover-color: orange;
  --border-radius: 5px;
  --box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.342);
  --box-shadow-hover: 5px 5px 15px hsla(39, 100%, 50%, 0.425);
  --backdrop-filter: blur(15px);
  --backdrop-filter-hover: blur(10px);
  --scrollbar-width: 10px;
}

.logo {
  font-size: 1.6rem;
  padding-left: 1rem;
  color: var(--text-color);
  display: block;
}
#skills {
  background-color: var(--bg-color);
}
* {
  scroll-behavior: smooth;
  transition: 4s ease;
  color: var(--text-color);
  transition: 1s ease;
}

header {
  padding: 1rem 0;
  text-align: center;
}
img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
.services {
  text-align: center;
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 50px;
}
.service {
  vertical-align: top;
  max-width: 1200px;
  margin: 10px;
  backdrop-filter: var(--backdrop-filter);
  background: linear-gradient(to right, #aa6f0048, #ffffff75);

  width: 300px;

  display: inline-block;
  border-radius: 5px;
}
.service:hover {
  box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.356);
}

.service-header {
  text-align: center;
  margin-bottom: 0%;
  margin-top: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: top;
  position: fixed;
  background-color: var(--nav-bg-color);
  width: 100%;
  box-shadow: var(--box-shadow);
  top: 0px;
  height: 70px;
  border-bottom: 2px solid var(--border-color);

  z-index: 3;
  backdrop-filter: blur(10px);
}
span {
  width: 30px;
  padding: 3px;
  border-radius: 15px;
  margin: 4px 0px;
  max-width: 1200px;

  display: block;
  background-color: var(--text-color);
}
.hamburger:hover {
  color: var(--text-color);
}
.hamburger {
  cursor: pointer;
  margin: 0%;
  display: none;
  padding: 0%;
}

.cv-button {
  border: 1px solid var(--border-color);
  padding: 1rem 2rem;
  color: var(--text-color);
  text-decoration: none;
  border-radius: 5px;
  width: 100px;
  margin-top: 1rem;
}
.cv-button:focus {
  border: 2px solid var(--border-hover-color);
}
.hamburger {
  color: var(--text-color);
}
nav ul {
  list-style: none;
  display: flex;
  padding: 0 2rem;
}
li:hover {
  border: 1px solid var(--text-color);
}

li {
  width: 4rem;
}
nav ul li {
  margin-left: 2rem;
}

nav a {
  color: var(--text-color);
  text-decoration: none;
}

nav ul li a:hover {
  color: var(--link-hover-color);
  transition: color 0.3s ease;
}

#hero {
  padding: 5rem 0;
  color: var(--text-color);
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.hero-content {
  width: 45%;
  text-align: left;
}

.fa-brands {
  cursor: pointer;
}
.hero-image {
  width: 300px;
  border-radius: 5px;

  height: 300px;
}
.hero-image:hover {
  box-shadow: var(--box-shadow);
}

.portfolioPic {
  position: relative;
  width: 100%;
  max-width: 1200px;

  border-radius: 0%;
  height: 100%;
  margin: 30px;
}

.ps {
  font-size: 1rem;
  margin: 0%;
}
.cta-button {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--button-text-color);
  color: var(--bg-color);
  text-decoration: none;
  border-radius: 5px;
  margin-top: 1rem;
}

.cta-button:hover {
  background-color: var(--button-text-hover-color);
}

#about {
  padding: 4rem 0;
  text-align: left;
  padding-left: 10%;
  color: var(--text-color);
  padding-right: 10%;
}

#skills {
  padding: 4rem 0;
  text-align: center;
  color: var(--text-color);
}
.ns {
  font-size: 3.1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  margin: 0%;
}

#projects {
  padding: 4rem 0;
  color: var(--text-color);
  text-align: center;
}

#contact {
  padding: 4rem 0;
  text-align: center;
  color: var(--text-color);
}
.as {
  color: var(--text-color);
  font-size: 1.1rem;
  text-transform: capitalize;
}

.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.skill {
  width: 80px;
  text-align: center;
}

.skill img {
  width: 60px;
  height: 60px;
  margin-bottom: 0.5rem;
}

.skill:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

.projects-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

iframe {
  width: 100%;
  margin: 0px;
  height: 70%;
  vertical-align: top;
}
.ifr {
  width: 50%;
}
.project {
  width: 300px;
  padding: 1rem;
  object-fit: cover;
  height: 500px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.project:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#contact-form {
  width: 50%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
}
textarea {
  resize: none;
}

input,
textarea:focus-within {
  outline: none;

  background-color: var(--bg-color);
  color: var(--text-color);
}
#contact-form input,
#contact-form textarea {
  backdrop-filter: blurs(10px);
  padding: 0.75rem;
  background-color: transparent;
  margin-bottom: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

#contact-form button {
  padding: 1rem 2rem;
  background-color: var(--button-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#contact-form button:hover {
  background-color: var(--button-hover-color);
}

footer {
  border-top: 1px solid var(--bg-color);
  border-radius: 15px;
  color: var(--text-color);
  text-align: center;
  padding: 1rem 0;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#hero,
#about,
#skills,
#projects,
#contact,
footer {
  animation: fadeIn 1s ease-out;
}
.cta-button.cv-button {
  max-width: 1200px;
}
@media (max-width: 708px) {
  .cta-button.cv-button {
    max-width: 1200px;
    display: block;
    margin: 10px;
  }
}
/* Responsive Design */
@media (max-width: 768px) {
  img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .ulparent {
    position: absolute;
    z-index: 1;
    margin: 0%;
    backdrop-filter: blur(15px);
    background: var(--nav-bg-color);
    display: flex;
    top: 50px;
    left: 0px;
    width: 50%;
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(15px);
  }
  nav {
    display: flex;

    justify-content: space-between;
    max-height: max-content;

    padding-bottom: 10px;
  }
  .hamburger {
    display: block;
    padding-right: 1rem;
  }
  * {
    transition: 1s ease;
  }

  nav ul {
    display: none;

    padding: 0px;
    flex-direction: column;
    align-items: center;

    z-index: 3;
  }
  ul {
    padding: 20px;
    width: 200px;
  }

  nav ul li {
    margin-left: 0;
    margin-bottom: 0.5rem;
    color: var(--text-color);
  }
  li:hover {
    border: 1px solid var(--border-color);
    width: 100%;
    padding: 6px;
  }

  .hero-content {
    width: 90%;
  }
  .cta-button {
    border: 1px solid var(--border-color);
    padding: 0.7rem 0.7rem;
    margin-bottom: 2rem;
    color: var(--bg-color);
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
  }
  .cta-button.cv-button {
    max-width: 1200px;
  }

  .cv-button {
    border: 1px solid var(--border-color);
    padding: 0.7rem 0.7rem;
    color: var(--text-color);

    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
  }
  .projects-container {
    flex-direction: column;
    align-items: center;
  }

  #contact-form {
    width: 90%;
  }

  #hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-content,
  .hero-image {
    width: 90%;
    text-align: center;
  }
}
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: var(--bg-color);
}
::-webkit-scrollbar-thumb {
  background: var(--bg-color);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--text-color);
  border-radius: 15px;
}

.chat {
  width: 60px;
  height: 60px;
  margin-right: 30px;
  max-width: 1200px;
  background-color: var(--bg-color);
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid var(--text-color);
}
#mainchat {
  position: fixed;
  z-index: 1;
  text-align: right;
  top: 80%;
  width: 100%;
  color: var(--text-color);
  display: flex;

  justify-content: right;
}
h1,
p {
  color: var(--text-color);
}
.formParent {
  position: fixed;
  top: 50%;

  display: none;
  border-width: 15px;
  width: 100%;
  text-align: right;
}
.ifr {
  border: 1px solid var(--text-color);
  border-radius: 15px;
  width: 300px;
  height: 200px;
}
.popsent {
  display: none;
  color: var(--text-color);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
}

.link {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

.carousel-container {
  width: 100%;
  backdrop-filter: blur(15px);
  background: var(--nav-bg-color);
  max-width: 800px;
  overflow: hidden;
  margin: auto;
  top: 0%;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  flex: 0 0 100%;
  min-width: 100%;
  box-sizing: border-box;

  padding: 20px;
  background-size: cover;
  text-align: center;
}
video {
  width: 100%;
  height: 500px;
}
.carousel-caption {
  background-color: #000000;
  color: var(--text-color);
}
.cu {
  margin: auto;
  background: none;
  color: var(--text-color);
  display: block;
}
.carousel-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.carousel-caption {
  font-size: 1.2em;
  color: #333;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--text-color);
  border: none;
  padding: 10px 20px;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 5px;
  z-index: 10;
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}
.h1s {
  color: var(--text-color);
  font-size: 1.1rem;
  margin: 0%;
  max-width: 1200px;
}
.icons {
  width: 50px;
  border-radius: 0%;
  height: 40px;
  margin-top: 10px;
}
